<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
        <a th:href="@{/drugs}">Drugs</a>
      <a th:href="@{/addDrug}">Add Drug</a>
    </div>   
    <div class="container">
      <h2> Drug Portal </h2>
      <form method="post" th:object="${drug}" th:action="@{/handleSubmit}"> 
        <p style="color:red" th:errors="*{name}"> </p>
        <input type="text" placeholder="Name" th:field="*{name}">
        <p style="color:red" th:errors="*{price}"> </p>
        <input type="text" placeholder="Price" th:field="*{price}">  
        <p style="color:red" th:errors="*{quantity}"> </p>
        <input type="text" th:placeholder="Quantity" th:field="*{quantity}">
        <p style="color:red;" th:errors="*{supplier}"></p>
        <select th:field="*{supplier}">
          <option value="Choose an option">Choose a supplier</option>
          <option value="B. Melsungen AG">B. Melsungen AG</option>
          <option value="J & Johnson">J & Johnson</option>
          <option value="Novartis AG">Novartis AG</option>
          <option value="Ab. Laboratories">Ab. Laboratories</option>
        </select>
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>