<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Form</title>
    <link th:href="@{/form-stylesheet.css}" rel="stylesheet">
  </head>    
  <body>
    <div class="topnav">
        <a th:href="@{/home}">Home</a>
      <a th:href="@{/addDrug}">Add Drug</a>
    </div>   
    <div class="container">
      <h2> Drug Portal </h2>
      <form method="post" th:object="${drug}" th:action="@{/handleSubmit}"> 
        <p style="color:red" th:errors="*{name}"> </p>
        <input type="text" placeholder="Name" th:field="*{name}">
        <p style="color:red" th:errors="*{price}"> </p>
        <input type="text" placeholder="Price" th:field="*{price}">  
        <p style="color:red" th:errors="*{quantity}"> </p>
        <input type="text" placeholder="Quantity" th:field="*{quantity}">
        <p style="color:red;" th:errors="*{barCode}"></p>
        <input type="text" placeholder="Bar Code" th:field="*{barCode}">
        <input type="hidden" th:field="*{id}">
        <br><br>
        <input type="submit" value="Submit">
      </form>
    </div>
</body>
</html>