<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Grades</title>
    <link th:href="@{/home-stylesheet.css}" rel="stylesheet">
  </head>
  <body>

    <div class="topnav">
        <a th:href="@{/}">Home</a>
        <a th:href="@{/addDrug}">Add Drug</a>
    </div>

    <div class= "container" >
      <h2 > Drugs </h2>
      <table id="table"> 
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Supplier</th>
          <th>Total Price</th>
        </tr>
        <tr th:each="drug: ${drugs}">
          <td th:text="${drug.name}"></td>
          <td th:text="${drug.price}"></td>
          <td th:text="${drug.quantity}"></td>
          <td th:text="${drug.supplier}"></td>
          <td th:text="${#numbers.formatDecimal({drug.price * drug.quantity},3, 2)}"></td>
          <td> <a role="button" class="update" th:href="@{/(id = ${drug.id})}">Update</a> </td>
        </tr>
      </table>
    </div>
    
  </body>
</html>